/* Colors */
$paragraph-color: #6d7396;
$main-color: #ffb700;

/* Font sizes */
$paragraph-font-size: 14px;
$bold-weight: 700;
$normal-weight: 300;

/* Fonts */
$main-font: Roboto;
$second-font: Montserrat;