.bottom-nav {
    @include flexbox(flex, center, center);

    height: 101px;
    background-color: #fff;

    .row-nav {
        display: flex;
        align-items: center;
        width: 60vw;

        .nav-link {
            @include text($main-font, $paragraph-size, 400, #3b404f);

            margin-top: 10px;
            text-decoration: none;
            transition: 0.2s ease-in-out;

            &:hover {
                color: $main-color;
                font-weight: 500;
            }
        }
    }
}

//Disable hambuger menu
.hamburger-menu {
    display: none;
}

/* Media queries */
@media(max-width: 768px) {

    //Disable navigation
    .bottom-nav {
        display: none;
    }

    //Active hamburger menu
    .hamburger-menu {
        z-index: 99;
        position: fixed;
        top: 0;
        display: block;
        max-height: 0;

        .navicon {
            height: 80px;
            position: relative;
            display: block;
            z-index: 99;
            transition: linear 0.5s all;
            outline: none;

            &:before,
            &:after {
                @include size(45px, 3px);

                position: absolute;
                margin: 20px 0 0 20px;
                background: $main-color;
                content: "";
                transition: 0.8s ease;
            }

            &:before {
                box-shadow: $main-color 0 14px 0 0;
                top: 0;
            }

            &:after {
                top: 28px;
            }

            //Active hamburger icon "X"
            &-active {
                transition: linear 0.5s all;

                &:before,
                &:after {
                    top: 15px;
                    background-color: $main-color;
                }

                &:before {
                    box-shadow: transparent 0 0 0 0;
                    transform: rotate(225deg);
                }

                &:after {
                    transform: rotate(315deg);
                }
            }
        }

        .toggle {
            display: block;
            min-width: 100vw;
            margin-top: 25%;
            padding: 0% 10%;
            opacity: 0;
            background-color: rgba(23, 23, 23, 0.9);
            transition: ease-in 0.5s all;
            transform: translateY(-200%);

            &-active {
                opacity: 1;
                transition: ease-in 0.5s all;
                transform: translateY(0);
            }

            &-menu {
                padding: 0;

                li {
                    display: flex;
                    justify-content: center;

                    a {
                        padding: 15px 0;
                        color: #fff;
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .search {
            display: flex;
            justify-content: center;
            padding: 0;

            li {
                margin: 15px;
                list-style: none;

                a {
                    color: $main-color;
                    font-size: 3rem;
                    text-shadow: 0px 1px 1px #000;
                }
            }
        }
    }
}

@media(max-width: 1199px) {
    .bottom-nav {

        .row-nav {
            flex-wrap: nowrap;

            .nav-box {
                margin: 0 5px;
            }
        }
    }
}