.bottom-nav {
    @include flexbox(flex, center, center);

    height: 101px;
    background-color: #fff;

    .row-nav {
        display: flex;
        align-items: center;
        width: 60vw;

        .nav-link {
            @include text($main-font, $paragraph-size, 400, #3b404f);

            margin-top: 10px;
            text-decoration: none;
            transition: 0.2s ease-in-out;

            &:hover {
                color: $main-color;
                font-weight: 500;
            }
        }
    }
}

/* Media queries */
@media(max-width: 767px) {
    .bottom-nav {
        display: none;
    }
}