.featured {
    @include flexbox(flex, center, center);

    flex-direction: column;
    max-width: 100vw;

    &-title {
        @include text($second-font, 44px, 700, #3b404f);

        margin-top: 10%;
        text-transform: uppercase;
    }

    &-paragraph {
        @include size(653px, 62px);
        @include text($main-font, $paragraph-size, 400, $paragraph-color);

        text-align: center;
    }

    &-links {
        width: 382px;
        margin: 2% 0;

        .link {
            @include text($main-font, $paragraph-size, 400, #212121);

            margin: 0 1%;
            padding-bottom: 2px;
            text-decoration: none;

            &:hover {
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
    }

    .featured-row {
        display: flex;
        flex-wrap: nowrap;

        .featured-box {
            @include flexbox(flex, center, flex-end);
            @include size(500px, 300px);

            margin-right: 5px;
            margin-bottom: 5px;
            padding: 0;
            cursor: pointer;
            background-color: $main-color;

            &:hover .box-information {
                transition: 0.5s;
                opacity: 0.87;
                -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            .box-information {
                @include flexbox(flex, space-around, center);
                @include size(100%, 118px);

                margin: 0;
                opacity: 0;
                transition: 0.5s;
                background-color: #fff;

                .title {
                    @include text($main-font, 24px, 500, #3b404f);

                    margin-top: 10px;
                    text-transform: uppercase;
                }

                button {
                    @include size(47px, 41px);

                    background-color: $main-color;
                    border: none;

                    &:hover {
                        opacity: 0.8;
                    }

                    i {
                        @include size(13px, 13px);

                        color: #fff;
                    }
                }
            }
        }
    }
}