.feedback {
    @include flexbox(flex, center, center);
    flex-direction: column;

    &-title {
        @include text($second-font, 44px, 700, #3b404f);

        margin-top: 10%;
        text-transform: uppercase;
    }

    &-paragraph {
        @include text($main-font, $paragraph-size, 400, $paragraph-color);

        width: 642px;
        margin-bottom: 5%;
        text-align: center;
    }

    .feedback-container {
        display: flex;

        img {
            max-width: 136px;
            max-height: 171px;
        }

        .feedback-box {
            @include flexbox(flex, center, flex-start);

            flex-direction: column;
            background-color: #f9f9f9;
            padding: 0 29px;

            .text {
                @include text($main-font, $paragraph-size, 400, $paragraph-color);

                width: 368px;
            }

            .author {
                @include text($second-font, 11px, 400, #3b404f);

                text-transform: uppercase;
                letter-spacing: 0.44px;
            }
        }
    }
}

/* Media queries */
@media(max-width: 768px) {
    .feedback {
        text-align: center;

        &-title {
            font-size: 34px;
        }

        &-paragraph {
            width: 85vw;
        }

        .feedback-container {
            flex-direction: column;
            align-items: center;
            padding: 2% 0;
            border-top: 1px solid $main-color;

            img {
                max-width: 136px;
                max-height: 171px;
            }

            .feedback-box {
                @include flexbox(flex, center, center);

                max-width: 80vw;
                padding: 15px 29px;

                .text {
                    @include text($main-font, $paragraph-size, 400, $paragraph-color);

                    width: 80vw;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .feedback {

        .text {
            max-width: 30vw;
        }
    }
}