.recent {
    @include flexbox(flex, center, center);

    min-height: 104px;
    background-color: $main-color;

    &-row {
        width: 60vw;

        .recent-title {
            @include text($main-font, 30px, 400, #fff);

            line-height: 54px;

            span {
                color: #000;
                font-family: "Roboto";
                font-style: italic;
                text-decoration: underline;
            }
        }

        .recent-button {
            @include size(151px, 48px);
            @include text($main-font, $paragraph-size, 400, $main-color);

            margin: 8px;
            outline: none;
            background-color: #fff;
            border: none;
        }
    }
}

/* Media queries */
@media(max-width: 767px) {
    .recent {

        &-row {
            width: 90vw;
            padding: 15px 0;
            text-align: center;

            .recent-title {
                @include text($main-font, 20px, 400, #fff);

                line-height: 24px;
            }
        }
    }
}