.services {
    // margin-top: 125%;
    @include flexbox(flex, center, center);

    height: 90vh;
    background-color: #fff;
    text-align: center;

    &-row {
        display: flex;
        justify-content: center;
        width: 60vw;

        .title {
            @include text($second-font, 44px, 700, #3b404f);

            width: 100%;
            text-transform: uppercase;
        }

        .paragraph {
            @include size(643px, 62px);
            @include text($main-font, $paragraph-size, 400, $paragraph-color);

            line-height: 24px;
        }

        .service-box {
            margin-top: 10%;
            text-align: left;

            .service-title {
                @include text($second-font, 22px, 700, $main-color);

                margin: 5% 0;
                text-transform: uppercase;
            }

            .service-paragraph {
                @include text($main-font, $paragraph-size, 400, $paragraph-color);

                margin-bottom: 5%;
                line-height: 24px;
            }

            .service-button {
                @include text($main-font, $paragraph-size, 400, $paragraph-color);

                padding: 0 0 5px 0;
                text-transform: uppercase;
                background-color: inherit;
                border: 1px solid #fff;
                transition: 0.5s;

                &:hover {
                    color: #ffb700;
                    border-bottom: 1px solid #ffb700;
                }
            }

            img {
                @include size(361px, 236px);
            }
        }
    }
}