.slider {
    @include flexbox(flex, center, center);

    height: 856px;
    background-color: #a7a9fe;

    &-box {
        width: 60vw;

        .title {
            @include size(672px, 126px);
            @include text($second-font, 64px, 900, #fff);

            line-height: 80px;
            text-transform: uppercase;
        }

        .subtitle {
            @include text($main-font, $paragraph-size, 400, #fff);

            max-width: 491px;
            max-height: 62px;
            margin: 3% 0;
        }

        .slider-button {
            @include size(179px, 58px);
            @include text($main-font, $paragraph-size, 400, #fff);

            outline: none;
            border: none;
            background-color: $main-color;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}