.top-nav {
    display: flex;
    justify-content: center;
    min-height: 56px;
    background-color: #f5f5f5;

    .row-nav {
        width: 60vw;

        .contact-box {
            margin-top: 19px;

            span {
                @include text($main-font, $paragraph-size, 400, #696969);
            }

            .nav-icon-msg {
                @include size(20px, 15px);
            }

            .nav-icon-phone {
                @include size(15px, 15px);
            }
        }
    }
}

/* Media queries */
@media(max-width: 767px) {
    .top-nav {
        padding-bottom: 5%;

        .row-nav {
            text-align: center;
            width: 90vw;
        }
    }
}

@media(max-width: 1199px) {
    .top-nav {

        .row-nav {
            text-align: center;
            width: 90vw;
        }
    }
}